<footer class="header splash">
  <%= atom.render %>
  <div class="container">
    <h2 class="splash-text">
      Written by
      <a href="//adamstegman.com" class="nav-link splash-link splash-text">Adam Stegman</a>
    </h2>
    <nav aria-label="secondary">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="//twitter.com/adamstegman" class="nav-link splash-link splash-text">Follow me on Twitter</a>
        </li>
        <li class="nav-item">
          <a href="//github.com/adamstegman" class="nav-link splash-link splash-text" rel="me">Follow me on Github</a>
        </li>
        <li class="nav-item">
          <a href="mailto:me@adamstegman.com" class="nav-link splash-link splash-text">Email me</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
