<head>
  <meta charset="utf-8" />
  <meta name="description" content="Current status for Adam Stegman—what I'm working on, reading, listening to, etc."/>
  <meta name="theme-color" content="#0288D1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>Status - Adam Stegman</title>
  <link rel="stylesheet" href="./assets/theme.css" />
  <link rel="stylesheet" href="./assets/index.css" />
  <link rel="icon" href="/assets/favicon.png" type="image/png" />
  <link rel="manifest" href="/manifest.webmanifest" crossorigin="anonymous" />
  <link rel="apple-touch-icon" sizes="48x48" href="/assets/icon-48x48.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/icon-72x72.png"/>
  <link rel="apple-touch-icon" sizes="96x96" href="/assets/icon-96x96.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/icon-144x144.png"/>
  <link rel="apple-touch-icon" sizes="192x192" href="/assets/icon-192x192.png"/>
  <link rel="apple-touch-icon" sizes="256x256" href="/assets/icon-256x256.png"/>
  <link rel="apple-touch-icon" sizes="384x384" href="/assets/icon-384x384.png"/>
  <link rel="apple-touch-icon" sizes="512x512" href="/assets/icon-512x512.png"/>
  <link href="//fonts.googleapis.com/css?family=Varela+Round:400|Lora:400,400i,700" rel="stylesheet" type="text/css" />
</head>
