<!DOCTYPE html>
<html lang="en">
<%= head.render %>
<body>
  <% @current_page = :index %>
  <%= header.render %>

  <div class="container">
    <main>
      <h2>Current Status</h2>
      <p>Updated <time datetime="2023-04-29">April 29, 2023</time></p>
      <div class="cards">
        <section class="card" itemscope itemtype="https://schema.org/TVSeries">
          <div class="card-img">
            <img
             src="assets/angel.jpg"
             alt="Cover image for Angel"
             width="240"
             itemprop="image" />
          </div>
          <div class="card-text">
            <h3
              ><a
               href="https://www.hulu.com/series/angel-8034c900-f242-4cea-96ba-1c6f61f812af"
               itemprop="url"
                ><i itemprop="name">Angel</i></a
              > 🧛</h3
            >
            <h4 class="tag">📺 Watching</h4>
          </div>
        </section>
        <section class="card" itemscope itemtype="https://schema.org/TVSeries">
          <div class="card-img">
            <img
             src="assets/buffy.jpg"
             alt="Cover image for Buffy the Vampire Slayer"
             width="240"
             itemprop="image" />
          </div>
          <div class="card-text">
            <h3
              ><a
               href="https://www.hulu.com/series/buffy-the-vampire-slayer-f2c277c5-62b4-417c-b277-8435b70176dd"
               itemprop="url"
                ><i itemprop="name">Buffy the Vampire Slayer</i></a
              > 🧛</h3
            >
            <h4 class="tag">📺 Watching</h4>
          </div>
        </section>
      </div>
    </main>
  </div>

  <%= footer.render %>
</body>
</html>
